<h1>Products</h1>

<form action="">

    Enter Page Number to bring from Register: <input type="number" name="pageNumber" [(ngModel)]="pageNumber"> 
    <br>
    <br>
    Enter the number of Results per Page: <input type="number" name="pageSize" [(ngModel)]="pageSize">
    <br>
    <br>
    <input type="submit" (click)="getProducts()">

</form>

<br>
<br>

<a href="/newProduct">New Product</a>

<br>
<br>

<ul>
    <li *ngFor="let product of products">
        <a [routerLink]="['/detail',product.productId]">{{product.productName}}</a>
        <span><a href="" (click)="deleteProduct(product.productId)" >  Delete</a></span>
    </li>
</ul>
