

<h1>Confirm Purchase</h1>





<form id="purchaseForm" action="" (ngSubmit)="createPurchase()">

    <label for="typeId-select">Enter Type of ID: </label>

    <select name="types" id="typeId-select" class="form-select" aria-label="Default select example" [(ngModel)]="idType">
        <option value="CC">CC</option>
        <option value="CE">CE</option>
        <option value="TI">TI</option>
        <option value="PASSPORT">PASSPORT</option>
    </select>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="enterId" name="enterId" placeholder="Enter your ID" [(ngModel)]="id">
        <label for="enterId">Enter your ID</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Results" [(ngModel)]="fullName">
        <label for="fullName">Enter your Full Name</label>
    </div>

    <button [disabled]="id === '' || idType === '' || fullName === ''" class="btn btn-secondary">Proceed</button>
    

</form>

<p id="errorMessage">{{errorMessage}}</p>

