h1 {
    margin-bottom: 30px;
}

select {
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
}

label:nth-of-type(1) {
    margin-bottom: 20px;
}

#purchaseForm {
    width: 300px;
}

#errorMessage {
    margin-top: 20px;
    color: red;
}