
<h1>Create a New Product</h1>

<form (ngSubmit)="createProduct()">
    <label for="productName" class="form-label">Product Name</label>
    <input id="productName" class="form-control" type="text" name="productName"  [(ngModel)]="productName">
    <label for="inInventory" class="form-label">Amount in Inventory</label>
    <input id="inInventory" class="form-control" type="number" name="inInventory" [(ngModel)]="inInventory">
    <label for="min" class="form-label">Minimun purchase Amount</label>
    <input id="min" class="form-control" type="number" name="min" [(ngModel)]="min">
    <label for="max" class="form-label">Maximum purchase Amount</label>
    <input id="max" class="form-control" type="number" name="max" [(ngModel)]="max">
    
    <br>
    <br>

    <button class="btn btn-secondary">Create Product</button>

</form>
